<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All ebanking Project">
    <test name="eBanking-V1">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.ebanking.Testcases.TC_LoginTest_001">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
            <class name="com.ebanking.Testcases.TC_LoginTest_002">
                <methods><include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>